@import "../base/mixins";
@import "../base/variables";
@import "../components/buttons";

.auth {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .auth-card {
    width: 100%;
    max-width: 34.5rem;
    margin-inline: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .auth-card-title {
      text-align: center;
    }

    .auth-card-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}
