@import "../base/mixins";
@import "../base/variables";

.signup {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  // signup-card
  .signup-card {
    width: 100%;
    max-width: 20rem;
    margin-inline: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    // signup-title
    .signup-title {
      color: $dark-light;
      font-weight: 500;
    }

    // form
    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      // input
      .input {
        @include input-style($indigo-light, $indigo-light, 0.3rem);
      }

      // login-cta
      .login-cta {
        color: $dark-semi-transparent;
        font-weight: 500;
        text-align: center;

        // login-link
        .login-link {
          opacity: 30%;
          color: $dark-medium;
          text-decoration: none;
          margin-left: 0.25rem;
        }
      }
    }
  }
}
