@import "variables";

@mixin button-style($background, $color, $border, $border-radius) {
  background-color: $background;
  color: $color;
  border: 1.5px solid $border;
  border-radius: $border-radius;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
}

@mixin input-style($color, $border-color, $border-radius) {
  background-color: $white-base;
  color: $color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $indigo-semi-transparent;
  }
}
