// White shades
$white-base: #FFFFFF;
$white-light: #FFF9F9;
$white-medium: #F4F1F2;
$white-dark: #AEB7B4;

// Dark shades
$dark-black: #000000;
$dark-semi-transparent: hsla(0, 0%, 13%, 0.6);
$dark-medium: #212121;

// Indigo shades
$indigo-black: #1e2d40;
$indigo-dark: #283163;
$indigo-light: #4C54F8;

// Blue shades
$blue-medium: #0A6AF6;
